.admin__header {
    background-color: #000;
    color: #fff;
    height: 7%;
    width: 100%;
    box-sizing: border-box;
}

.admin__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.admin__logo a img {
    height: 40px;
    margin-left: 20px;
}

.admin__logout form {
    margin: 0;
}

.admin__logout button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    width: auto;
}