.container {
    padding: 20px;
}

h1 {
    margin-left: 40px;
    font-size: 24px;
    color: #333;
}

.recommendation {
    margin-top: 20px;
}

.img__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 10px;
    margin-left: 40px;
}

.post__img {
    width: 85%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
    margin-top: 50px;
}

.image__link:hover .post__img {
    transform: scale(1.05);
}