.mypage__page {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mypage__bottom {
    width: 100%;
}

.mypage__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.mypage__details {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile__img,
.profile__img-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    object-fit: cover;
}

.profile__img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #aaa;
}

.username {
    font-size: 36px;
    font-weight: bold;
}

.profile__edit-btn {
    padding: 10px 20px;
    border: 2px solid #f00;
    color: #f00;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.mypage__tabs {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #5F5F5F;
    box-sizing: border-box;
}

.tab {
    margin-left: 60px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 20px;
    color: #5F5F5F;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab.active {
    color: #FF0000;
}

.tab:hover {
    color: #FF0000;
}

.product__item {
    margin-left: 60px;
}

.img__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 10px;
    display: none;
}

.img__container.active {
    display: grid;
}

.post__img {
    width: 85%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-top: 50px;
}

.image__link:hover .post__img {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .img__container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        margin-right: 40px;
    }

    .post__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }
}