.img__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 10px;
    margin-left: 40px;
}

.post__img {
    width: 85%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
    margin-top: 50px;
}

.image__link:hover .post__img {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .img__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
}

@media (max-width: 600px) {
    .img__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}